<%= form_for(@size) do |f| %>
  <% if @size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@size.errors.count, "error") %> prohibited this size from being saved:</h2>

      <ul>
      <% @size.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.number_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :us %><br>
    <%= f.text_field :us %>
  </div>
  <div class="field">
    <%= f.label :uk %><br>
    <%= f.text_field :uk %>
  </div>
  <div class="field">
    <%= f.label :cn %><br>
    <%= f.text_field :cn %>
  </div>
  <div class="field">
    <%= f.label :ind %><br>
    <%= f.text_field :ind %>
  </div>
  <div class="field">
    <%= f.label :it %><br>
    <%= f.text_field :it %>
  </div>
  <div class="field">
    <%= f.label :inch %><br>
    <%= f.text_field :inch %>
  </div>
  <div class="field">
    <%= f.label :mm %><br>
    <%= f.text_field :mm %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
