<h1>Listing sizes</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Us</th>
      <th>Uk</th>
      <th>Cn</th>
      <th>Ind</th>
      <th>It</th>
      <th>Inch</th>
      <th>Mm</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sizes.each do |size| %>
      <tr>
        <td><%= size.type_id %></td>
        <td><%= size.name %></td>
        <td><%= size.us %></td>
        <td><%= size.uk %></td>
        <td><%= size.cn %></td>
        <td><%= size.ind %></td>
        <td><%= size.it %></td>
        <td><%= size.inch %></td>
        <td><%= size.mm %></td>
        <td><%= link_to 'Show', size %></td>
        <td><%= link_to 'Edit', edit_size_path(size) %></td>
        <td><%= link_to 'Destroy', size, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Size', new_size_path %>
