<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @size.type_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @size.name %>
</p>

<p>
  <strong>Us:</strong>
  <%= @size.us %>
</p>

<p>
  <strong>Uk:</strong>
  <%= @size.uk %>
</p>

<p>
  <strong>Cn:</strong>
  <%= @size.cn %>
</p>

<p>
  <strong>Ind:</strong>
  <%= @size.ind %>
</p>

<p>
  <strong>It:</strong>
  <%= @size.it %>
</p>

<p>
  <strong>Inch:</strong>
  <%= @size.inch %>
</p>

<p>
  <strong>Mm:</strong>
  <%= @size.mm %>
</p>

<%= link_to 'Edit', edit_size_path(@size) %> |
<%= link_to 'Back', sizes_path %>
